.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

.main img {
  padding: 4px;
  border-radius: 2px;
  border: solid 1px #dcdfe6;
}

.main > div > div > ul > li,
.main > div > div > ol > li {
  margin: 30px 0;
}

.main > div > div > ul > li > *,
.main > div > div > ol > li > * {
  margin: 10px 0;
}

.main > div > div > ul > li > ul > li {
  list-style: circle;
}

.main > div > div > ul > li > ul > li > ul > li {
  list-style: square;
}

.main > div > div > ul > li > ul > li > ul > li > ul {
  padding-left: 0;
  list-style: none;
}

.main > div > div > ul > li > ul > li > ul > li > ul > li {
  position: relative;
  line-height: 28px;
  padding-left: 1.25rem;
}

.main > div > div > ul > li > ul > li > ul > li > ul > li::before {
  position: absolute;
  left: 0;
  top: 11px;
  content: " ";
  width: 10px;
  height: 10px;
  background: currentcolor;
  border-radius: 1px;
  transform: scale(0.5) rotate(45deg);
  background-color: #000;
}

.main h3 {
  margin: 30px 0;
}

.vp-doc div[class*='language-'],
.vp-block {
  margin: 16px 0;
}
