.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

.main img {
  padding: 4px;
  border-radius: 2px;
  border: solid 1px #dcdfe6;
}

.main > div > div > ul > li > ul > li {
  list-style: circle;
}

.main > div > div > ul > li > ul > li > ul > li {
  list-style: square;
}

.main > div > div > .vp-raw > ul > li > ul > li {
  list-style: circle;
}

.main > div > div > .vp-raw > ul > li > ul > li > ul > li {
  list-style: square;
}


/* .main > div > div > ul > li,
.main > div > div > ol > li {
  margin: 30px 0;
}

.main > div > div > ul > li > *,
.main > div > div > ol > li > * {
  margin: 10px 0;
}

.main > div > div > ul > li > ul > li {
  list-style: circle;
}

.main > div > div > ul > li > ul > li > ul > li {
  list-style: square;
}

.main > div > div > ul > li > ul > li > ul > li > ul {
  padding-left: 0;
  list-style: none;
}

.main > div > div > ul > li > ul > li > ul > li > ul > li {
  position: relative;
  line-height: 28px;
  padding-left: 1.25rem;
}

.main > div > div > ul > li > ul > li > ul > li > ul > li::before {
  position: absolute;
  left: 0;
  top: 11px;
  content: " ";
  width: 10px;
  height: 10px;
  background: currentcolor;
  border-radius: 1px;
  transform: scale(0.5) rotate(45deg);
  background-color: #000;
} */

.main > div > div > h1 {
  margin-bottom: 48px;
}

.main > div > div > h2 {
  margin-bottom: 32px;
}

.main > div > div > h2 + h3 {
  margin: 32px 0;
}

.main > div > div > h3 {
  margin-top: 48px;
  margin-bottom: 32px;
}

/* .main > div > div > h1 + ol, .main > div > div > h1 + ul {
  padding-left: 1em;
}

.main > div > div > h2 + ol, .main > div > div > h2 + ul {
  padding-left: 1em;
}

.main > div > div > h3 + ol, .main > div > div > h3 + ul {
  padding-left: 1em;
}

.main > div > div > h4 + ol, .main > div > div > h4 + ul {
  padding-left: 1em;
}

.main > div > div > h5 + ol, .main > div > div > h5 + ul {
  padding-left: 1em;
}

.main > div > div > h6 + ol, .main > div > div > h6 + ul {
  padding-left: 1em;
}

.main > div > div > ul, .main > div > div > ol {
  padding-left: 2em;
} */

.vp-doc div[class*='language-'],
.vp-block {
  margin: 16px 0;
}

.main .vp-raw {
  margin-top: 48px;
}

.main > div > div > * + .vp-raw {
  margin-top: 48px !important;
}

.main > div > div > .vp-raw + * {
  margin-top: 48px !important;
}

.main > div > div > .vp-raw + h2 {
  margin-top: 48px !important;
}

.main > div > div > .vp-raw + h3 {
  margin-top: 48px !important;
}

.main > div > div > .vp-raw + h4 {
  margin-top: 48px !important;
}

.main > div > div > .vp-raw + h5 {
  margin-top: 48px !important;
}

.main > div > div > .vp-raw + h6 {
  margin-top: 48px !important;
}

.main > div > div > .vp-raw + .vp-raw {
  margin-top: 48px !important;
}

.main > div > div > h1 + .vp-raw {
  margin-top: 0 !important;
}


.main > div > div > h2 + .vp-raw {
  margin-top: 0 !important;
}

.main > div > div > h3 + .vp-raw {
  margin-top: 0 !important;
}

.main > div > div > h4 + .vp-raw {
  margin-top: 0 !important;
}

.main > div > div > h5 + .vp-raw {
  margin-top: 0 !important;
}

.main > div > div > h6 + .vp-raw {
  margin-top: 0 !important;
}

.main .vp-raw > h6 {
  font-size: 14px;
  border-bottom: 2px solid rgb(239, 112, 96);
  margin-bottom: 16px;
}

.main .vp-raw > h6 > span.title {
  display: inline-block;
  font-weight: bold;
  background-color: rgb(239, 112, 96);
  color: #fff;
  padding: 5px 10px 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 64px;
}

.main .vp-raw > h6:last-of-type {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
  border-bottom: 2px solid rgb(239, 112, 96);
}

.main .vp-raw > h6:last-of-type > .title {
  display: inline-block;
  font-weight: bold;
  background-color: rgb(239, 112, 96);
  color: #fff;
  margin: 0;
  padding: 5px 10px 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-left: 64px !important;
}

.main code {
  color: #fff !important;
  font-weight: 700 !important;
  background-color: rgb(239, 112, 96) !important;
}

.main .vp-doc div[class*='language-'] code {
  color: rgba(60, 60, 67, 0.78) !important;
  font-weight: 400 !important;
  background-color: transparent !important;
}

.main .br {
  height: 1px;
}